@charset "UTF-8";
/*
Author: piercalex
Date: 2014-07-11
*/
/*
Author: piercalex
Date: 2014-10-13
*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a { margin: 0; padding: 0; }

body, button, input, select, textarea, td { font-size: 14px; line-height: 20px; font-family: STHeiTi,"Microsoft YaHei",sans-serif; }

ul, ol { list-style: none; }

input[type=text], input[type=password], input[type=number], input[type=submit], input[type=button] { -webkit-appearance: none; }

table { border-collapse: collapse; }

a { text-decoration: none; }

.clearfix:after { content: ""; height: 0; visibility: hidden; display: block; clear: both; }

.clearfix { zoom: 1; }

.block { display: block; }

.of { overflow: hidden; zoom: 1; }

.fl { float: left !important; }

.fr { float: right !important; }

.mt10 { margin-top: 10px !important; }

.mt20 { margin-top: 20px !important; }

.center { text-align: center !important; }

/*
Author: piercalex
Date: 2014-10-13
*/
/* global */
/* 中黑 */
/* 类似天蓝，略深 */
/* class red */
/* 淡纯色红 */
/* 赤红 */
/* class blue */
/* 靛蓝 */
/* 更深的靛蓝 */
/* 灰蓝 */
/* 高亮蓝 */
a { color: #333333; }

.lightbluelinkcolor { color: #3598db; text-decoration: underline; }

body { min-width: 320px; margin: 0 auto; background: #fff; }

.bg-page { background: #ebebeb; }

.sub-page { padding-top: 50px; }

/* part iconfont */
@font-face { font-family: 'iconfont'; font-weight: normal; font-style: normal; src: url(icomoon.woff) format("woff"), url("icomoon.ttf") format("truetype"), url("icomoon.svg#iconfont") format("svg"); }
[class^='f-'] { font-family: iconfont; font-style: normal; -webkit-font-smoothing: antialiased; }

.f-member:after { content: '\e605'; }

.f-broadcast:after { content: "\e61d"; }

.f-tolink:after { content: "\e621"; }

.f-adds:after { content: "\e61e"; }

.f-close:after { content: '\e626'; }

.f-return:after { content: '\E607'; }

.f-home:after { content: '\e616'; }

/*
Author: piercalex
Date: 2014-10-13
*/
/* header */
.header { height: 50px; background: #fff; }
.header .logo { float: left; width: 105px; margin: 12px 0 0 5px; }
.header .f-member { float: left; display: inline; font-size: 1.5em; color: #ce0000; margin-right: 5px; }
.header .hotline { display: none; float: right; line-height: 90px; font-size: 1.3em; color: #666; }
.header .hotline .bg { float: left; width: 60px; height: 42px; background: url(xunwen2.png) no-repeat; background-size: 100%; margin-top: 24px; }

.loginarea { float: right; line-height: 50px; padding-right: 10px; font-size: 1.1em; white-space: nowrap; }
.loginarea a { color: #111; }

@media only screen and (min-width: 768px) { .header { height: 90px; }
  .header .logo { width: 210px; margin: 20px 0 0 10px; }
  .header .bg-zzxctm { float: left; width: 174px; height: 46px; background: url(bg-zzxctm.png) no-repeat; background-size: 100%; margin: 22px 0 0 20px; }
  .header .f-member { font-size: 2.2em; line-height: 90px; margin: 0 10px 0 20px; }
  .header .hotline { display: block; } }
/* nav */
.nav { position: relative; width: 100%; height: 40px; background: #292929; font-size: 1.1em; z-index: 99; }

.nav-inside { position: relative; height: 100%; }

.nav-main { width: 100%; height: 100%; display: -moz-box; display: -webkit-box; display: box; }
.nav-main li { position: relative; float: left; height: 100%; overflow: hidden; -moz-box-flex: 1; -webkit-box-flex: 1; box-flex: 1; }
.nav-main a { display: block; height: 26px; line-height: 26px; color: #fff; margin-top: 7px; padding: 0 15px; border-left: 1px solid #141414; border-right: 1px solid #424242; text-align: center; }
.nav-main li:first-child a { border-left: none; }
.nav-main li:last-child a { border-right: none; }
.nav-main a.cur { color: #fff; }
.nav-main i { position: absolute; left: 50%; bottom: 0; width: 0; height: 0; border: 4px solid transparent; border-color: transparent; margin-left: -2px; }
.nav-main .cur i { border-color: transparent transparent #fff transparent; }

/*
Author: piercalex
Date: 2014-10-13
*/
/* navact-broadcast */
.navact-broadcast { border-bottom: 1px solid #d3d3d3; background: #fff; padding: 0 10px 0 35px; font-size: 1.1em; height: 40px; overflow: hidden; }
.navact-broadcast i { float: left; width: 20px; height: 20px; line-height: 14px; color: #c71a1a; margin: 10px 0 0 -25px; font-size: 1.1em; }

.navact-broadcast-scroll { width: 100%; height: 20px; overflow: hidden; margin-top: 10px; color: #616161; }

.navact-broadcast-ul { width: 200%; }
.navact-broadcast-ul li { float: left; width: 240px; height: 20px; }
.navact-broadcast-ul span { color: #c71a1a; }

/*
Author: piercalex
Date: 2014-10-13
*/
/* act-li-box */
.act-li { float: left; width: 100%; margin-top: 13px; }
.act-li .act-li-inside { width: 100%; border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; background: #fff; }
.act-li .link { display: block; }
.act-li img { display: block; width: 100%; }
.act-li .link-bms { border-top: 1px dotted #666; border-bottom: 1px dotted #666; height: 20px; overflow: hidden; margin: 8px 10px; }
.act-li .link-bms-ul { display: block; width: 200%; }
.act-li .link-bms-ul li { float: left; height: 20px; line-height: 20px; color: #333; overflow: hidden; }
.act-li .link-bms-ul li i { float: left; width: 6px; height: 6px; border-radius: 50%; background: #e6121b; border: 2px solid #f7b7ba; margin: 5px 5px 0 15px; }
.act-li .link-bms-ul li:first-child i { margin-left: 0; }
.act-li .status { display: block; margin: 8px 15px; color: #666; }

.act-li-hd { height: 44px; line-height: 44px; overflow: hidden; border-left: 3px solid #c71a1a; }
.act-li-hd .more { float: right; color: #666; margin-right: 5px; font-size: 1.1em; }
.act-li-hd .more i { display: inline-block; vertical-align: top; color: #c71a1a; margin-left: 2px; }
.act-li-hd .tit { float: left; font-size: 1.5em; font-weight: 700; color: #c71a1a; margin-left: 10px; }
.act-li-hd .tit2 { float: left; line-height: 47px; color: #666; }

.act-li-end { display: none; float: left; width: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 13px; padding: 0 12px 0 6px; }

.act-li-end-inside { display: block; height: 100%; }

.act-li-pad { background: url(bg-act-li-pad.png) no-repeat; background-size: 100%; }

.act-li-machine { background: url(bg-act-li-machine.png) no-repeat; background-size: 100%; }

@media only screen and (min-width: 768px) { .act-li { width: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .act-li:nth-child(odd) { padding-left: 12px; padding-right: 6px; }
  .act-li:nth-child(even) { padding-left: 6px; padding-right: 12px; }
  .act-li-end { display: block; } }
/*
Author: piercalex
Date: 2014-10-13
*/
/* xxtyg-box */
.tygmix-box { margin-top: 13px; overflow: hidden; }

.xxtyg-box { width: 100%; border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; background: #fff; padding: 0 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.xxtyg-hd { color: #c71a1a; border-bottom: 1px solid #efefef; font-size: 1.2em; padding: 5px 0; }
.xxtyg-hd i { font-size: 1.2em; }

.xxtyg-bd { position: relative; height: 165px; margin-top: 10px; padding-bottom: 10px; background: url(http://m.qk.cc/mobile_res/images/xxtyg-pic.jpg) no-repeat 50% 50%; }

.xxtyg-fd { padding-top: 10px; color: #666; }

@media only screen and (min-width: 768px) { .tygmix-box { height: 300px; margin: 13px 12px 0; padding-right: 190px; background: #fff; border: 1px solid #d3d3d3; }
  .xxtyg-box { float: left; border: none; }
  .xxtyg-bd { height: 200px; overflow: hidden; } }
/*
Author: piercalex
Date: 2014-10-13
*/
/* jgd-bm-box */
.jgd-bm-box { margin-top: 13px; padding: 10px 0 25px; background: #fff; border-top: 1px solid #d3d3d3; }

/* tel-box */
.gcxq { display: block; line-height: 35px; overflow: hidden; color: #fff; background: #c71a1a; text-align: center; border-radius: 4px; margin: 0 10px; font-size: 1.1em; }

.xunwen-box-outside { margin: 13px 10px 0; }

.xunwen-box { width: 100%; border: 1px solid #e0e0e0; border-radius: 5px; display: -moz-box; display: -webkit-box; display: box; text-align: center; }
.xunwen-box p { height: 75px; -moz-box-flex: 1; -webkit-box-flex: 1; box-flex: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.xunwen-box a { display: block; height: 100%; overflow: hidden; border-left: 1px solid #e0e0e0; color: #666; }
.xunwen-box p:first-child a { border-left: none; }
.xunwen-box i { display: block; width: 50px; height: 35px; margin: 10px auto 0; background: url(xunwen1.png) no-repeat; background-size: 100%; }
.xunwen-box i .i2 { background-image: url(xunwen2.png); }
.xunwen-box i .i3 { background-image: url(xunwen3.png); }

@media only screen and (min-width: 768px) { .jgd-bm-box { float: left; width: 190px; height: 100%; margin: 0 -190px 0 0; padding: 0; border: none; }
  .xunwen-box-outside { margin: 0; }
  .gcxq { display: none; }
  .xunwen-box { border: none; display: block; border-radius: 0; }
  .xunwen-box p { display: block; height: 100px; }
  .xunwen-box a { border-top: 1px solid #e0e0e0; }
  .xunwen-box p:first-child a { border-top: none; border-left: 1px solid #e0e0e0; }
  .xunwen-box i { margin-top: 25px; } }
/*
Author: piercalex
Date: 2014-10-13
*/
/* footer */
.footer { font-size: .8em; line-height: 15px; background: #292929; color: #898989; margin-top: 15px; padding: 15px 0 45px 10px; overflow: hidden; line-height: 15px; color: #898989; margin-top: 25px; }
.footer .bg { float: right; width: 69px; height: 35px; background: url(totop.png) no-repeat; background-size: 100%; margin-top: 5px; }

/*
Author: piercalex
Date: 2014-10-13
*/
/* bmbar */
.bmbar { position: fixed; left: 0; bottom: 0; width: 100%; height: 30px; line-height: 9px; padding: 10px 0 5px; background: rgba(0, 0, 0, 0.8); z-index: 900; }
.bmbar .txt { float: left; color: #fff; font-size: .8em; color: #fff; }
.bmbar .txt span { display: block; font-size: 1.3em; color: #FFEC12; }
.bmbar .f-close { float: left; width: 25px; height: 25px; font-size: 1.8em; padding: 10px 5px 0; color: #a0a0a0; }
.bmbar a { float: right; border: 1px solid #fff; border-radius: 3px; color: #eee; margin-right: 10px; padding: 8px 10px; }

/*
Author: piercalex
Date: 2014-10-13
*/
/* header-inside */
.header-inside { position: fixed; top: 0; left: 0; width: 100%; height: 50px; line-height: 50px; background: rgba(41, 41, 41, 0.8); color: #fff; font-size: 1.2em; text-align: center; font-weight: bold; z-index: 99; }
.header-inside .return { position: absolute; left: 0; top: 0; width: 50px; height: 50px; border-right: 1px solid #3f3f3f; color: #fff; }
.header-inside .return i { font-size: 1.9em; font-weight: 400; }
.header-inside .home { position: absolute; right: 0; top: 0; width: 50px; height: 50px; border-left: 1px solid #3f3f3f; color: #fff; }
.header-inside .home i { font-size: 1.5em; font-weight: 400; }

/*
Author: piercalex
Date: 2014-10-13
*/
/* car-console-box */
.car-console-box .title { padding: 10px 10px 0; }
.car-console-box .type-tm { background: #ec131c; color: #fff; padding: 2px 5px; }
.car-console-box .value-box { padding: 0 10px; color: #898989; }
.car-console-box .value-box li { float: left; width: 60%; padding-top: 5px; }
.car-console-box .value-box li:nth-child(even) { width: 40%; }
.car-console-box .value-box .bold { font-weight: 700; color: #e3121a; }

@media only screen and (min-width: 768px) { .header { height: 90px; }
  .header .logo { width: 210px; margin: 20px 0 0 10px; }
  .header .bg-zzxctm { float: left; width: 174px; height: 46px; background: url(bg-zzxctm.png) no-repeat; background-size: 100%; margin: 22px 0 0 20px; }
  .header .f-member { font-size: 2.2em; line-height: 90px; margin: 0 10px 0 20px; }
  .header .hotline { display: block; } }

/*# sourceMappingURL=css.css.map */
