@charset "utf-8";
/*
Author: piercalex
Date: 2014-10-13
*/

/* car-console-box */
.car-console-box{
  .title{ padding:10px 10px 0;}
  .type-tm{ background:#ec131c; color:#fff; padding:2px 5px;}
  .value-box{ padding:0 10px; color:#898989;
    li{ float:left; width:60%; padding-top:5px;}
    li:nth-child(even){ width:40%;}
    .bold{ font-weight:700; color:#e3121a;}
  }
}

@media only screen and (min-width:768px){
  .header{ height:90px;
    .logo{ width:210px; margin:20px 0 0 10px;}
    .bg-zzxctm{ float:left; width:174px; height:46px; background:url(bg-zzxctm.png) no-repeat; background-size:100%; margin:22px 0 0 20px;}
    .f-member{ font-size:2.2em; line-height: 90px; margin:0 10px 0 20px;}
    .hotline{ display:block;}
  }
}




