/*
Author: piercalex
Date: 2014-10-13
*/
/* footer */
.centerwm {
  font-size: .8em;
  line-height: 15px;
  background: #292929;
  color: #666;
  margin-top: 15px;
  padding: 10px 0 45px 10px;
  overflow: hidden;
  text-align: left;
  line-height: 15px;
  color: #898989;
  margin-top: 25px; }

.centerwm .bg {
  float: right;
  width: 69px;
  height: 35px;
  background: url(../images/top.png) no-repeat;
  background-size: 100%;
  margin-top: 5px; }

.centerwmgo {
  text-align: left !important;
  font-size: 1em;
  color: #898989; }
