@charset "utf-8";
/*
Date: 2014-10-15
*/

/* Product List Vertical*/
.product-list{margin-bottom:10px;
	.product-item{position:relative; float:left; width:143px; background:#fff; padding-bottom:3px; border:1px solid #e3e3e3; border-radius:2px;margin:10px 5px 0;}
	.tip{ position:absolute; left:5px; top:0; display:block; width:45px; height:33px; line-height:12px; background:url(../assets/down.png) no-repeat; background-size:100%; font-size:.8em; color:#fff; padding-top:2px; font-weight:700; text-align:center;}
	.none{width:143px;float:left;@include radius(2px);border:1px solid #e3e3e3;height:223px; background:#fff url(../assets/linone.png) no-repeat 50% 100%; background-size:100%;margin:10px 5px 0;}
	img{ display:block; border-radius:2px 2px 0 0; margin-left: -1px;}
	.tit{display:block; color:#000; max-height:34px; line-height:17px; overflow:hidden; margin:10px 5px 3px; font-size:.9em;
		em{font-style:normal; background:#c71a1a; color:#fff; border-radius:1px; font-size:.9em; margin-right:2px; padding:0 2px;}
		span{color:#b9000d;}
	}
	.value{display:block; color:#000; height:33px; line-height:16px; overflow:hidden; margin:0 5px 3px; padding-top:5px; font-size:.8em;
		b{display:block; font-size:1.2em;
			i{ font-weight:400; font-size:.8em; font-style:normal;}
		}
	}
	.zd{ float:left; width:50%;
		b{text-decoration:line-through; font-weight: 400;}
	}
	.xs{float:left; width:50%; color:#ff0000;}
	.bm{ display:block; margin:0 5px;}
	.num{ float:left; color:#000; font-style:italic; font-size:.7em; line-height:24px;
		span{color:#c10050;}
	}
	.btn{display:none; float:right; width:64px; height:24px; line-height:24px; background:#b9000d; color:#fff; text-align:center; border-radius:3px;}
}
@media only screen and (min-width:768px){
 	.product-list .none{display:none}
}
